article p{
    white-space: pre-wrap;
}

.md-tabs__item {
    text-transform: uppercase;
}

.md-nav__title {
    text-transform: uppercase;
}

p>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.md-main{
    background-color: #FAFAFA;
}

.md-content{
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 150em;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}